<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Canair.io plugin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Canair.io plugin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
PM2.5 output<br>
  <ion-label primary>{{txtpm25}} </ion-label>
  <ion-label primary>{{result}} </ion-label>
<br>
Lat/lon
<br>
   <ion-label primary>{{latitude}} </ion-label>
   <ion-label primary>{{longitude}} </ion-label>
  

 </div>
</ion-content>
